---
import Map from '../components/Map.jsx';
---

<html>
  <head>
    <title>EV Chargers</title>
  </head>
  <body class="font-sans">
    <h1 class="text-center text-3xl mt-4">EV Chargers Near You</h1>
    <div class="mt-4">
      <Map client:only = "react" />
    </div>
  </body>
</html>
